body {
  background-color: rgb(24, 23, 23);
}

img {
  display: block;
  max-width: 100%;
}


.accordion__container {
  padding-top: 50px;
   margin: 0 auto;
   width: 800px;
}


.accordion-title {
  position: relative;
  cursor: pointer;
  padding: 10px;
  background-color: #4a4a4a;
  text-align: left;
  color: #ddd;
  font-size: 30px;
  padding-left: 30px;
  border: 1px solid #ddd;
}


.accordion-title.active {
  color: #c3f04c;
}


.accordion-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #ddd;
  color: #ddd;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}



.icon {
  position: absolute;
  top:10px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3f04c;
  font-size: 25px;
  border: none;
  width:30px;
  height:30px;
  border-radius: 5px;
}