* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
  background-color: rgb(24, 23, 23);
}

img {
  display: block;
  max-width: 100%;
}
 ul {
   list-style: none;
 }

.container {
  padding-top: 50px;
   margin: 0 auto;
   width: 800px;
}

.accordion__container {
   margin-bottom: 80px;
}

.accordion-title {
  position: relative;
  cursor: pointer;
  padding: 10px;
  background-color: #4a4a4a;
  text-align: left;
  color: #ddd;
  font-size: 30px;
  padding-left: 30px;
  border: 1px solid #ddd;
}


.accordion-title.active {
  color: #c3f04c;
}


.accordion-content {
  display: none;
  padding: 10px;
  border-top: 1px solid #ddd;
  color: #ddd;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}



.icon {
  position: absolute;
  top:10px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c3f04c;
  font-size: 25px;
  border: none;
  width:30px;
  height:30px;
  border-radius: 5px;
}


.skillbar__list {
   display: flex;
   gap: 30px;
   color: #ddd;
}




.skillbar__title {
  text-align: center;
  width: 140px;
  font-size: 16px;
 padding: 5px 15px;
 border-radius: 25px;
 border: 1px solid #ddd;
 margin: 10px auto ;

}

.skillbar__text {
   text-align: center;
   font-size: 14px;
}

.skillbar__wrap {
  position: relative;
  align-items: flex-end;
  justify-content: center;
}


.skillbar {
  --percentage: 0;
  animation: progress 2s 0.5s forwards;
  width: calc((800px - 3 * 30px) / 4);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;

}

.skillbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0.75turn at 50% 100%, #c3f04c calc(var(--percentage) * 1% / 2), rgb(95, 97, 99) calc(var(--percentage) * 1% / 2 + 0.1%));
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}

.skillbar__percent {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #ddd;
}
